.logout {
    text-align:right;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

.pfp {
    width: 115px;
    height: 115px; 
    border: 1px black solid;
}

.status {
    font-size: 20px;
}

.numbox {
    width: 40px;
}

.name {
   font-size: 40px;
}

.statbar{
    text-align: center;
    clear: both;
}


.left {
    float: left;
}

.left_space{
    float: left;
    padding:5px;
}

.stat{
    border: solid black 2px;
    font-size: 30px;
    
    text-align: center;
    float:left;
    padding-right: 10px;
    padding-left: 10px;
    width: 150px;
}

.statnum{
    outline: none;
    font-size: 30px;
    max-width: 50px;
}

.boxspace{
    padding-left: 10px;
    padding-right: 10px;
    float:left;
}

.right {
    float:right;
}


.info{
    border: solid black 2px;
    width: 750px;
    margin-top: 10px;
    text-align:center;
}

.table_block{
    border: solid black 2px;
    text-align: center;
    width: 600px;
    margin-top: 10px;
}

.abilities{
    border: solid black 2px;}

.gearheader{
    font-weight: bold;
    font-size: 30px;
}

.itembox {
    width: 100%;
    border: 1px solid;
}

.infobox{
    height: 100px;
    width: 550px;
}

.addmenu {
    display: none;
    height: 100%;
    position: fixed;
    border: 2px solid black;
    background: white;
    width: 300px;
    z-index: 1;
}

.addItem {
    /* background: none;
    border: none; */
    color: blue;
    /* text-align: left; */
}

table, th, td {

    border: 1px solid black;
    
}

#gearName {
    width: 100px;
    height: 25px;
    margin: 0;
}

#gearDescription {
    height: 25px;
    margin: 0;
}

.wideRow {
    height: 50px;
}

.w_name {
    width: 150px;
}

.w_range {
    width: 100px;
}

.w_mags {
    width: 50px;
}

.w_damage {
    width: 100px;
}

.w_traits {
    width: 150px;
}

.g_name {
    width: 150px;
}

.g_desc {
    width: 400px;
}

.l_name {
    width: 200px;
}

.l_desc {
    width: 500px;
}

.remove_box {
    width: 50px;
}

.table_input {
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

td {
    word-break:break-all;
}